/* 登录 / 注册对话框 （用 objectName 选择器） */
#LoginDialog,
#RegisterDialog {
    background-color: #e7fbfff6;
    border-radius: 10px;
}

/* 用户名、密码标签 */
#user_label,
#pass_label {
    color: #333333;
    font-size: 14px;
    font-weight: 500;
}

/* err_tip标签 状态：normal/err 颜色：green/red */
#err_tip[state='normal']{
    color: #41e464;
}
#err_tip[state='err']{
    color: #e03636;
}